.color-palette {
    z-index: 1;
    position: absolute;
    bottom: 24px;
    display: flex;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.color-swatch {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 50%;
}